body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    padding:40px;
}

.container{
    width:500px;
    margin:auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h1{
    text-align:center;
}

input{
    width:95%;
    padding:10px;
    margin-top:10px;
    margin-bottom:20px;
    font-size:16px;
}

.buttons{
    display:flex;
    gap:10px;
}

button{
    flex:1;
    padding:15px;
    border:none;
    color:white;
    font-size:18px;
    cursor:pointer;
    border-radius:5px;
}

.poolt{
    background:green;
}

.vastu{
    background:red;
}

.users{
    margin-top:30px;
}

.user{
    background:#ececec;
    padding:10px;
    margin-top:10px;
    border-radius:5px;
}